language: node_js

node_js:
  - '6'
  - '7'
  - '8'
  - '9'
  - '10'

script:
  - npm run jscpd
  - npm run lint
  - npm run coverage
  - cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
