[project]
	description = Copy/paste detector for programming source code.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Andrey Kucherenko (kucherenko)
[access "refs/for/refs/*"]
	read = group user/Andrey Kucherenko (kucherenko)
	push = group user/Andrey Kucherenko (kucherenko)
	label-Code-Review = -2..+2 group user/Andrey Kucherenko (kucherenko)
	label-Verified = -1..+1 group user/Andrey Kucherenko (kucherenko)
	rebase = group user/Andrey Kucherenko (kucherenko)
	removeReviewer = group user/Andrey Kucherenko (kucherenko)
	submit = group user/Andrey Kucherenko (kucherenko)
[access "refs/heads/*"]
	read = group user/Andrey Kucherenko (kucherenko)
	create = group user/Andrey Kucherenko (kucherenko)
	push = +force group user/Andrey Kucherenko (kucherenko)
	pushMerge = group user/Andrey Kucherenko (kucherenko)
[access "refs/tags/*"]
	push = +force group user/Andrey Kucherenko (kucherenko)
	pushTag = group user/Andrey Kucherenko (kucherenko)
	pushSignedTag = group user/Andrey Kucherenko (kucherenko)
